html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
body {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p, li {
	margin: 0.3em 0;
}
p, li {
	line-height: 1.5;
}

#container {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 20px;
}

#header {
	text-align: center;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px #000 solid;
	-moz-box-shadow: 3px 5px 5px #888;
	box-shadow: 3px 5px 5px #888;
	padding: 15px 20px;
}
#header > span {
	margin: 4px 0;
	display: inline-block;
}
#title { font-size: 2em; text-shadow: 6px 5px 6px #133337; }
#subtitle { font-size: 1.25em; font-style: italic; }

#footer {
	font-size: .75em;
	text-align: center;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 0;
}

#nav {
	width: 100%;
	box-sizing: border-box;
	margin: 8px 0;
}
#nav > a {
	box-sizing: border-box;
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: .2em .6em;
	border: 2px rgba(255, 255, 255, 0) solid;
	transition: .3s ease all;
}
#nav > a:hover {
	border-right: 2px #999 solid;
	border-bottom: 2px #999 solid;
	-moz-box-shadow: 2px 2px 3px #888;
	box-shadow: 2px 2px 3px #888;
}

#body-content {
	box-sizing: border-box;
	width: 100%;
	min-height: 400px;
}
#body-content > .big-one {
	width: 100%;
	box-sizing: border-box;
	border: 1px #777 dashed;
	min-height: 400px;
	padding: .5em .75em;
	-moz-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}
#body-content > .lr-column::after {
	display: block;
	clear: both;
	content: '';
}
#body-content > .lr-column > .main {
	width: calc(68% - 8px);
	box-sizing: border-box;
	float: left;
	padding: 0;
}
#body-content > .lr-column > .side {
	height: unset;
	width: calc(32% - 8px);
	box-sizing: border-box;
	float: right;
}

.fb-box {
	margin: 15px 0;
	padding: .5em .75em;
	-moz-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	border: 1px #777 dashed;
}
.fb-box:first-child {
	margin-top: 0;
}
.fb-box:last-child {
	margin-bottom: 0;
}
.fb-box.box-red {
	border-color: #e00;
	-moz-box-shadow: 0 0 3px #e00;
	box-shadow: 0 0 3px #e00;
}
.fb-box.box-yellow {
	border-color: #e80;
	-moz-box-shadow: 0 0 3px #e80;
	box-shadow: 0 0 3px #e80;
}

.fb-box > .box-title {
	text-align: center;
	margin-top: 0;
	font-size: 1.125em;
	font-weight: bold;
}

.center { text-align: center; }
.text-align-clear { text-align: initial; }

.form-center {
	box-sizing: border-box;
	width: 100%;
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}
